variables:
  POSTGRES_HOST_AUTH_METHOD: trust
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  TESTCONTAINERS_HOST_OVERRIDE: "host.docker.internal"

image: "harbor.hendrikx-itc.nl/1optic/rust-ci:1.89.1@sha256:afa11531cec36a701d61ede01cf2499c020b8184d5c26bb5842d17c6dff15aa0"

stages:
  - lint
  - test
  - build
  - build-image
  - docs

lint-openapi:
  stage: lint
  image:
    name: redocly/cli@sha256:1fbb450ee3252664a6c1c88d2e86324e907d3cca79da7787657f50a06c23f916
    entrypoint: [""]
  script:
    - redocly lint api-spec/openapi.yaml

lint:
  stage: lint
  script:
    - cargo fmt --check
    - RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features

# Use cargo to test the project
unit-test:cargo:
  stage: test
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo test --workspace --exclude integration-tests --verbose -- --format=json  -Z unstable-options | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

integration-test:cargo:
  stage: test
  tags:
    - testcontainers
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo build --package minerva-cli
    - cargo build --package minerva-service
    - RUST_LOG=info cargo test --package integration-tests --verbose -- --format=json  -Z unstable-options --nocapture | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

publish-minerva-cli-deb:
  stage: build
  artifacts:
    paths:
      - "target/**/*.deb"
  before_script:
    - echo "$CACERT" > /ca.crt
  script:
    - cargo deb -p minerva-cli --target=x86_64-unknown-linux-musl
    - |
      curl \
      --fail \
      --cacert "/ca.crt" \
      -u "${REPO_USERNAME}:${REPO_PASSWORD}" \
      -H "Content-Type: multipart/form-data" \
      --data-binary "@./target/x86_64-unknown-linux-musl/debian/minerva-cli_${CI_COMMIT_TAG}-1_amd64.deb" \
      "$REPO_URL"
  rules:
    - if: $CI_COMMIT_TAG

build-image:
  stage: build-image
  image:
    name: gcr.io/kaniko-project/executor:debug@sha256:2562c4fe551399514277ffff7dcca9a3b1628c4ea38cb017d7286dc6ea52f4cd
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${DOCKER_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${DOCKER_REGISTRY_USER}" "${DOCKER_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    - >-
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG

build-docs:
  stage: docs
  script:
    - mdbook build documentation/design
    - rclone version
    - rclone
      --verbose
      --webdav-vendor other
      sync documentation/design/book/ :webdav:/static-sites/minerva/design
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
      - .gitlab-ci.yml
      - documentation/**
