variables:
  POSTGRES_HOST_AUTH_METHOD: trust
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  TESTCONTAINERS_HOST_OVERRIDE: "host.docker.internal"

image: "harbor.hendrikx-itc.nl/1optic/rust-ci:1.92.0@sha256:753ca3313426f5f9828ae4da2fc689abdd5ae0a1ffc720233130a6274f9a8a4f"

stages:
  - lint
  - test
  - build
  - docs

lint-openapi:
  stage: lint
  image:
    name: redocly/cli@sha256:b720032d5a51f9f724783b0fd721d3a01b821003f93de75cbf0b309e774bb0f9
    entrypoint: [""]
  script:
    - redocly lint api-spec/openapi.yaml

lint:
  stage: lint
  script:
    - cargo fmt --check
    - RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features

# Use cargo to test the project
unit-test:cargo:
  stage: test
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo test --workspace --exclude integration-tests --verbose -- --format=json  -Z unstable-options | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

integration-test:cargo:
  stage: test
  tags:
    - testcontainers
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo build --package minerva-cli
    - cargo build --package minerva-service
    - RUST_LOG=info cargo test --package integration-tests --verbose -- --format=json  -Z unstable-options --nocapture | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

build-minerva-cli-deb:
  stage: test # Test musl build
  artifacts:
    paths:
      - "target/**/*.deb"
  script:
    - cargo deb -p minerva-cli --target=x86_64-unknown-linux-musl

publish-minerva-cli-deb:
  stage: build
  script:
    - |
      curl \
      --fail \
      -u "${REPO_USERNAME}:${REPO_PASSWORD}" \
      -H "Content-Type: multipart/form-data" \
      --data-binary "@./target/x86_64-unknown-linux-musl/debian/minerva-cli_${CI_COMMIT_TAG}-1_amd64.deb" \
      "$REPO_URL"
  rules:
    - if: $CI_COMMIT_TAG

build-image:
  stage: build
  image: quay.io/buildah/stable@sha256:d8315e1f94547edaa9bb31afdbc4a5a495a64a0b64e698fcd7204d5c7c1808c7
  before_script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | buildah login -u "$DOCKER_REGISTRY_USER" --password-stdin $DOCKER_REGISTRY
  script:
    - buildah build
      --file "${CI_PROJECT_DIR}/Dockerfile"
      --tag "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
    - buildah push "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG

build-instance-tester-image:
  stage: build
  image: quay.io/buildah/stable@sha256:d8315e1f94547edaa9bb31afdbc4a5a495a64a0b64e698fcd7204d5c7c1808c7
  before_script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | buildah login -u "$DOCKER_REGISTRY_USER" --password-stdin $DOCKER_REGISTRY
  script:
    - buildah build
      --file "${CI_PROJECT_DIR}/Dockerfile.instance-tester"
      --tag "${DOCKER_REGISTRY_IMAGE}-instance-tester:${CI_COMMIT_TAG}"
    - buildah push "${DOCKER_REGISTRY_IMAGE}-instance-tester:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG

build-docs:
  stage: docs
  script:
    - mdbook build documentation
    - rclone version
    - rclone
      --verbose
      --webdav-vendor other
      sync documentation/book/ :webdav:/static-sites/minerva
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
      - .gitlab-ci.yml
      - documentation/**
