variables:
  POSTGRES_HOST_AUTH_METHOD: trust
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  TESTCONTAINERS_HOST_OVERRIDE: "host.docker.internal"

image: "harbor.hendrikx-itc.nl/1optic/rust-ci:1.90.0@sha256:15d848efef5b33eb187d4615d570b60fed8b5cc472780a26a22c958fa8c33908"

stages:
  - lint
  - test
  - build
  - build-image
  - docs

lint-openapi:
  stage: lint
  image:
    name: redocly/cli@sha256:84e2704f44786715a2b2e91ba0aa004f8079cb69ffcb10ce3dab8e8157436d1d
    entrypoint: [""]
  script:
    - redocly lint api-spec/openapi.yaml

lint:
  stage: lint
  script:
    - cargo fmt --check
    - RUSTFLAGS="-Dwarnings" cargo clippy --all-targets --all-features

# Use cargo to test the project
unit-test:cargo:
  stage: test
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo test --workspace --exclude integration-tests --verbose -- --format=json  -Z unstable-options | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

integration-test:cargo:
  stage: test
  tags:
    - testcontainers
  before_script:
    - rustup default nightly
  script:
    - rustc --version && cargo --version  # Print version info for debugging
    - cargo build --package minerva-cli
    - cargo build --package minerva-service
    - RUST_LOG=info cargo test --package integration-tests --verbose -- --format=json  -Z unstable-options --nocapture | cargo2junit > results.xml
  artifacts:
    when: always
    reports:
      junit: results.xml

publish-minerva-cli-deb:
  stage: build
  artifacts:
    paths:
      - "target/**/*.deb"
  before_script:
    - echo "$CACERT" > /ca.crt
  script:
    - cargo deb -p minerva-cli --target=x86_64-unknown-linux-musl
    - |
      curl \
      --fail \
      --cacert "/ca.crt" \
      -u "${REPO_USERNAME}:${REPO_PASSWORD}" \
      -H "Content-Type: multipart/form-data" \
      --data-binary "@./target/x86_64-unknown-linux-musl/debian/minerva-cli_${CI_COMMIT_TAG}-1_amd64.deb" \
      "$REPO_URL"
  rules:
    - if: $CI_COMMIT_TAG

build-image:
  stage: build-image
  image: quay.io/buildah/stable@sha256:7d543392afeea6737dd2b86c5c09d6714b3df320c5fd86c3f7a3624afda63271
  before_script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | buildah login -u "$DOCKER_REGISTRY_USER" --password-stdin $DOCKER_REGISTRY
  script:
    - buildah build
      --file "${CI_PROJECT_DIR}/Dockerfile"
      --tag "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
    - buildah push "${DOCKER_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG

build-instance-tester-image:
  stage: build-image
  image: quay.io/buildah/stable@sha256:7d543392afeea6737dd2b86c5c09d6714b3df320c5fd86c3f7a3624afda63271
  before_script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | buildah login -u "$DOCKER_REGISTRY_USER" --password-stdin $DOCKER_REGISTRY
  script:
    - buildah build
      --file "${CI_PROJECT_DIR}/Dockerfile.instance-tester"
      --tag "${DOCKER_REGISTRY_IMAGE}-instance-tester:${CI_COMMIT_TAG}"
    - buildah push "${DOCKER_REGISTRY_IMAGE}-instance-tester:${CI_COMMIT_TAG}"
  rules:
    - if: $CI_COMMIT_TAG

build-docs:
  stage: docs
  script:
    - mdbook build documentation/design
    - rclone version
    - rclone
      --verbose
      --webdav-vendor other
      sync documentation/design/book/ :webdav:/static-sites/minerva/design
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
      - .gitlab-ci.yml
      - documentation/**
