[package]
name = "minerva-cli"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
description = "Minerva command line tools"

[[bin]]
path = "main.rs"
name = "minerva"

[lib]
name = "materialize"
path = "materialize/lib.rs"

[dependencies]
clap = { version = "4.5.50", features = ["derive"] }
clap_complete = "4.5.59"
minerva = { version = "*", path = "../minerva" }
tokio = { version = "1.47.1", features = ["full"] }
tokio-postgres = { version = "0.7.14", features = ["with-chrono-0_4", "with-serde_json-1"] }
rustls = { version = "0.23.33", features = ["ring"] }
rustls-native-certs = "0.8.2"
tokio-postgres-rustls = "0.13"
postgres-types = { version = "0.2.11", features = ["derive"] }
postgres-protocol = "0.6.9"
serde = { version = "1.0.228", features = ["derive"] }
serde_yaml = "0.9.34"
chrono = { version = "0.4", features = ["serde"] }
humantime = "2.3.0"
humantime-serde = "1.1.1"
serde_json = "1.0.145"
glob = "0.3.3"
regex = "1.12.2"
dialoguer = "0.12.0"
async-trait = "0.1.89"
actix-rt = "2.11.0"
actix-web = "4.11.0"
actix-cors = "0.7.1"
bb8 = "0.9"
bb8-postgres = "0.9"
log = "0.4.28"
env_logger = "0.11.8"
lazy_static = "1.5.0"
term-table = "1.4.0"
comfy-table = "7.2.1"
url = "2.5.7"
testcontainers = { version = "0.25.0" }
thiserror = "2.0.17"
deadpool-postgres = "0.14.1"
tokio-stream = "0.1.17"
futures = "0.3.31"
erased-serde = "0.4.8"
petgraph = "0.8.3"
dotenv = "0.15"

[dev-dependencies]
assert_cmd = "=2.0.17"
predicates = "=3.1.3"

[package.metadata.deb]
section = "admin"
